body
{ 
    margin: 0; 
    padding: 0;
    background-color: #F8F8F8;
    width: 45%; 
    margin: 0 auto;
    text-align: left;
    color: rgba(0,0,0,0.9);
    letter-spacing: 0.01em;
    font-family: Arial, Georgia, Serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
}

#content
{
    font-family: "Sans serif", Serif;
    font-size: 1.1em;
    line-height: 150%;
    margin-top: 30px;
    margin-left: 20px;
}

.signature
{
    color: rgb(117, 117, 117);
    line-height: 20px;
    font-size: 1em;
}

.signature .tags
{
    float: right;
}

.highlight
{
    background-color: #F0F0F0;
    font-family: arial;
    font-weight: normal;
}

#comments 
{
    padding-top: 10px;
    padding-bottom: 20px;
}

#add-comment
{
    color: darkgreen;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-size: 1.2em;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1em; margin: 0 0 0 0; }

h1, h2, h3, h4
{

  font-family: verdana, arial;
  color: rgb(64,64,64); 
}

#header #title
{
    text-align: center;
    text-color: rgb(41, 41, 41);
    font-weight: bold;
    display: block;
    border-bottom: thin solid black;
    padding-bottom: 5px;
}

a:link, a:visited, a:active, a:hover
{
  color: darkblue;
}

.author a
{
    color: rgb(26, 137, 23);
    text-decoration: none;
}


#content p:first-of-type:first-letter
{
   font-size: 1.5em;
   font-family: times;
}

blockquote 
{
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  font-size: 0.9em;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p 
{
  display: inline;
}

blockquote cite
{
  font-size: 0.8em;
  display: block;
}

blockquote cite:before 
{
 content: "\2014 \2009";
}

@media screen and (max-width: 1028px), (max-device-width: 1080px)
{
    body
    {
      width: 90%; 
    }
}
